body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

header {
    background-image: url('IMages/op.jpg');
background-size: cover;
background-position: center;
    padding: 20px 0;
    text-align: center;
}

nav {
    text-align: center;
    background-color: #333;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

nav a:hover {
    background-color: #555;
}

section {
    padding: 40px 0;
    text-align: center;
}

section h2 {
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background: #4CAF50;
    color: #a01818;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background: #45a049;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.social-icons a {
    margin: 0 5px;
}

.social-icons img {
    width: 40px;
    height: 40px;
}
